services:

  gateway:
    image: yarp-gateway:latest
    build:
      context: .
      dockerfile: ./gateway/Gateway/Gateway/Dockerfile
    environment:
      DOTNET_RUNNING_IN_CONTAINER: true
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:4999;https://+:5000
      Kestrel__Endpoints__Https__Url: https://+:5000
      Kestrel__Endpoints__Https__Certificate__Path: ${CERTS_PATH}
      Kestrel__Endpoints__Https__Certificate__Password: ${CERTS_PASSWORD}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Jwt__Key: ${JWT_KEY}
    ports:
      - "4999:4999"
      - "5000:5000"
    networks:
      - public
      - internal
    volumes:
      - ./certs/:/app/certs:ro

  authentication-service:
    image: authentication-service:latest
    build: 
      context: .
      dockerfile: ./src/services/AuthenticationService/AuthenticationService.App/Dockerfile
    environment:
      DOTNET_RUNNING_IN_CONTAINER: true
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:5001
      ConnectionStrings__DefaultConnection: "Host=authentication-service-database;Port=5432;Database=auth_db;Username=developer;Password=${AUTH_DB_PASSWORD}"
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Jwt__Key: ${JWT_KEY}
      Jwt__AccessTokenLifetime: ${JWT_ACCESSTOKENLIFETIME}
      Jwt__RefreshTokenLifetime: ${JWT_REFRESHTOKENLIFETIME}
    expose:
      - 5001
    ports:
      - "5001:5001"
    networks:
      - public
      - auth-internal
    depends_on:
      authentication-service-database:
        condition: service_healthy

  scientific-reports-service:
    image: scientific-reports-service:latest
    build:
      context: .
      dockerfile: src/services/ScientificReportService/ScientificReportService.App/Dockerfile
    environment:
      - YandexCloud__BucketName=${YANDEX_CLOUD_SCIENTIFIC_REPORT_SERVICE_BUCKET_NAME}
      - YandexCloud__Url=${YANDEX_CLOUD_URL}
      - YandexCloud__AccessKey=${YANDEX_CLOUD_ACCESS_KEY}
      - YandexCloud__SecretKey=${YANDEX_CLOUD_SECRET_ACCESS_KEY}
      - YandexCloud__Region=${YANDEX_CLOUD_REGION}
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5002
      - ConnectionStrings__DefaultConnection=Host=scientific-reports-service-database;Port=5432;Database=reports;Username=developer;Password=${SCIENTIFIC_REPORTS_DB_PASSWORD}
    networks:
      - public
      - internal
      - scientific-reports-internal
    expose:
      - 5002
    ports:
      - "5002:5002"
    depends_on:
      scientific-reports-service-database:
        condition: service_healthy
    

  authentication-service-database:
    image: postgres:latest
    container_name: auth-service-db
    environment:
      POSTGRES_USER: developer
      POSTGRES_DB: auth_db
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - public
      - auth-internal
    volumes:
      - auth-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U developer -d auth_db"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 20s

  scientific-reports-service-database:
    image: postgres:latest
    container_name: scientific-reports-db
    environment:
      - POSTGRES_USER=developer
      - POSTGRES_DB=reports
      - POSTGRES_PASSWORD=${SCIENTIFIC_REPORTS_DB_PASSWORD}
    volumes:
      - scientific-reports-db:/var/lib/postgresql/data/
    networks:
      - public
      - scientific-reports-internal
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U developer -d reports"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 20s

    
networks:

  public:
    internal: false

  internal:
    internal: true

  auth-internal:
    internal: true

  scientific-reports-internal:
    internal: true  

volumes:
  auth-db: 
  scientific-reports-db: 