services:

  authentication-service:
    image: authentication-service:latest
    build: 
      context: .
      dockerfile: ./src/services/AuthenticationService/AuthenticationService.App/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:5000
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=authentication-service-database;Port=5432;Database=auth_db;Username=developer;Password=${AUTH_DB_PASSWORD}"
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Jwt__Key: ${JWT_KEY}
      Jwt__AccessTokenLifetime: ${JWT_ACCESSTOKENLIFETIME}
      Jwt__RefreshTokenLifetime: ${JWT_REFRESHTOKENLIFETIME}
    expose:
      - 5000
    ports:
      - "5000:5000"
    networks:
      - public
      - auth-internal
    depends_on:
      authentication-service-database:
        condition: service_healthy

  authentication-service-database:
    image: postgres:latest
    container_name: auth-service-db
    environment:
      POSTGRES_USER: developer
      POSTGRES_DB: auth_db
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - public
      - auth-internal
    volumes:
      - auth-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U developer -d auth_db"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 20s
    
networks:

  public:
    internal: false

  auth-internal:
    internal: true  

volumes:
  auth-db: 